<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/round-about.css" rel="stylesheet">
        <script src="js/libraries/jquery/jquery.min.js"></script>
        <script src="js/libraries/bootstrap/bootstrap.bundle.min.js"></script>
        <link href="css/styles.css" rel="stylesheet">
        
        <script src="js/libraries/angular/angular.min.js"></script>


        <script src="app.js"></script>
   

        <title>Liber</title>
    </head>

    <body ng-app="liber" ng-controller="inicio">

        <nav class="navbar navbar-dark navbar-expand-lg fixed-top" style="background-color:#8393CA">
          <div class="container">
            <a class="navbar-brand" href="#"> <i class="fa fa-user-circle-o" aria-hidden="true"></i> </a>
            <a class="navbar-brand" href="#"> <i class="fa fa-bars" aria-hidden="true"></i> </a>
            <a class="navbar-brand" href="#"> <i class="fa fa-power-off" aria-hidden="true"></i> </a>
          </div>
        </nav>
        
        <div class="container" >
                
      <br>
      <br>
      
      <div class="row">
        <div class="col-12">
          <input  type="text" 
                  class="form-control" 
                  placeholder="Buscar por nombre y/o autor"
                  ng-model="buscar">
        </div>
<div id="listado"></div>

      </div>

      <div class="row">
          <div class="col-12">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Editorial</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Edicion</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-click="editar(libro)" ng-repeat="libro in libros | filter : buscar">
                  <td>{{ libro.nombre }}</td>
                  <td>{{ libro.editorial }}</td>
                  <td>{{ libro.autor }}</td>
                  <td>{{ libro.edicion }}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
      

      <div class="row">
          <div class="col-12 text-center">
            <button type="button" 
                    class="btn btn-primary"
                    ng-click="agregar()">Agregar libro</button>
          </div>
      </div>
  
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Agregar Libro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                  <form>
                    <div class="form-group">
                      <input type="text" 
                             class="form-control" 
                             placeholder="Nombre"
                             ng-model="nombre">
                    </div>
                    <div class="form-group">
                      <input type="text" 
                             class="form-control" 
                             placeholder="Editorial"
                             ng-model="editorial">
                    </div>
                    <div class="form-group">
                      <input type="text" 
                              class="form-control" 
                              placeholder="Autor"
                              ng-model="autor">
                    </div>
                    <div class="form-group">
                      <input type="text" 
                              class="form-control" 
                              placeholder="Edicion"
                              ng-model="edicion">
                    </div>
                  </form>
                

              </div>
              <div class="text-center margin-b-20">
                <button type="button" 
                        class="btn btn-primary"
                        ng-hide="ocultarGuardar == true"

                        ng-click="guardar()">Guardar</button>
              </div>
              <div class="text-center margin-b-20">
                <button type="button" 
                        class="btn btn-primary"
                        ng-hide="ocultarBorrar == true"
                        ng-click="borrar()">Borrar</button>
              </div>
            </div>
          </div>
        </div>

  <br>
        </div>

        
    </body>

</html>
