
.center {
    text-align: center;
}
.error {
    color: red;
}
.btn-primary {
    background-color: #8393CA;
    border-color: #8393CA;
    border-radius: 20px;
}
.margin-b-20 {
    margin-bottom: 20px;
}